*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

nav .nav-container {
  display: flex;
  align-items: center;
  padding: 1.5em 3em;
  justify-content: space-between; 
}

.logo {
  font-weight: bold;
  font-size: 24px;
  a{
    text-decoration: none;
    color: black;
  }
}

.menu ul {
  display: flex;
  gap: 2em;
  li{
    list-style: none;
    a{
      text-decoration: none;
      color: black;
      font-size: 13px;
    }
  }
}

.cart ul{
  display: flex;
  gap: 1em;
  li{
    list-style: none;
    a{
      text-decoration: none;
    }
  }
} 

.cart ul img{
  width: 1.75em;
}

.search{
  --padding: 14px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;
  transition: box-shadow 4s;
}

.search:focus-within{
  box-shadow: 0 0 2px rgba(0,0,0,0.75);

}

.search-input{
  font-size: 16px;
  font-family: 'Lexend' , sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder,
.search-icon{
  color: rgba(0, 0, 0, 0.5);

}